### naive bayes assignment

In [1]:
import numpy as np
import pandas as pd

In [2]:
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv(r'C:\\Users\\Win7Ult\\Downloads\\SalaryData_Train.csv')

In [4]:
df

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30156,27,Private,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
30157,40,Private,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
30158,58,Private,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
30159,22,Private,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
30160,52,Self-emp-inc,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
df.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [6]:
df.Salary.value_counts()

 <=50K    22653
 >50K      7508
Name: Salary, dtype: int64

In [7]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [8]:
df['workclass']=le.fit_transform(df['workclass'])

In [9]:
df['education']=le.fit_transform(df['education'])

In [10]:
df['maritalstatus']=le.fit_transform(df['maritalstatus'])

In [11]:
df['occupation']=le.fit_transform(df['occupation'])

In [12]:
df['race']=le.fit_transform(df['race'])

In [13]:
df['relationship']=le.fit_transform(df['relationship'])

In [14]:
df['sex']=le.fit_transform(df['sex'])

In [15]:
df['native']=le.fit_transform(df['native'])

In [16]:
x_train=df.iloc[:,:13]
y_train=df.iloc[:,-1]

In [40]:
from sklearn.preprocessing import StandardScaler
stnd=StandardScaler()
x_train1=stnd.fit_transform(x_train)

In [42]:
x_train1

array([[ 0.04277892,  2.93594688, -0.34982703, ..., -0.21850808,
        -0.07773541,  0.26635842],
       [ 0.88026081,  1.88764517, -0.34982703, ..., -0.21850808,
        -2.33149486,  0.26635842],
       [-0.0333558 , -0.20895825,  0.1748048 , ..., -0.21850808,
        -0.07773541,  0.26635842],
       ...,
       [ 1.48933854, -0.20895825,  0.1748048 , ..., -0.21850808,
        -0.07773541,  0.26635842],
       [-1.25151126, -0.20895825,  0.1748048 , ..., -0.21850808,
        -1.74718685,  0.26635842],
       [ 1.03253024,  0.83934346,  0.1748048 , ..., -0.21850808,
        -0.07773541,  0.26635842]])

In [43]:
from sklearn.naive_bayes import GaussianNB  
model = GaussianNB()  
model.fit(x_train1, y_train)

GaussianNB()

In [44]:
pred=model.predict(x_train1)

In [45]:
from sklearn.metrics import classification_report

In [46]:
 print(classification_report(y_train,pred))

              precision    recall  f1-score   support

       <=50K       0.81      0.95      0.88     22653
        >50K       0.69      0.34      0.46      7508

    accuracy                           0.80     30161
   macro avg       0.75      0.65      0.67     30161
weighted avg       0.78      0.80      0.77     30161

In [21]:
df1=pd.read_csv(r'C:\\Users\\Win7Ult\\Downloads\\SalaryData_Test.csv')

In [22]:
df1['workclass']=le.fit_transform(df1['workclass'])

In [23]:
df1['education']=le.fit_transform(df1['education'])

In [24]:
df1['maritalstatus']=le.fit_transform(df1['maritalstatus'])

In [25]:
df1['occupation']=le.fit_transform(df1['occupation'])

In [26]:
df1['race']=le.fit_transform(df1['race'])

In [27]:
df1['relationship']=le.fit_transform(df1['relationship'])

In [28]:
df1['sex']=le.fit_transform(df1['sex'])

In [29]:
df1['native']=le.fit_transform(df1['native'])

In [30]:
df1

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,2,1,7,4,6,3,2,1,0,0,40,37,<=50K
1,38,2,11,9,2,4,0,4,1,0,0,50,37,<=50K
2,28,1,7,12,2,10,0,4,1,0,0,40,37,>50K
3,44,2,15,10,2,6,0,2,1,7688,0,40,37,>50K
4,34,2,0,6,4,7,1,4,1,0,0,30,37,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15055,33,2,9,13,4,9,3,4,1,0,0,40,37,<=50K
15056,39,2,9,13,0,9,1,4,0,0,0,36,37,<=50K
15057,38,2,9,13,2,9,0,4,1,0,0,50,37,<=50K
15058,44,2,9,13,0,0,3,1,1,5455,0,40,37,<=50K
15059,35,3,9,13,2,3,0,4,1,0,0,60,37,>50K

In [31]:
x1_test=df1.iloc[:,:13]
y1_test=df1.iloc[:,-1]

In [49]:
from sklearn.preprocessing import StandardScaler
stnd=StandardScaler()
x1_test1=stnd.fit_transform(x1_test)

In [50]:
pred1=model.predict(x1_test1)

In [51]:
 print(classification_report(y1_test,pred1))

              precision    recall  f1-score   support

       <=50K       0.81      0.95      0.88     11360
        >50K       0.68      0.34      0.45      3700

    accuracy                           0.80     15060
   macro avg       0.75      0.64      0.66     15060
weighted avg       0.78      0.80      0.77     15060

In [53]:
from sklearn.metrics import accuracy_score
ac = accuracy_score(y1_test,pred1)

In [59]:
ac.round(2)*100

80.0